SUPABASE_URL=https://ihdbizcodhucnnamlnde.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZGJpemNvZGh1Y25uYW1sbmRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3Njg2NTQsImV4cCI6MjA5NjM0NDY1NH0.TF-ZMb_0TmjeGKoo5hzBuCrG_lttTX0cLnWsF_tPs2w
